<p id="notice"><%= notice %></p>

<h1>Profesionals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profesionals.each do |profesional| %>
      <tr>
        <td><%= profesional.name %></td>
        <td><%= link_to 'Show', profesional %></td>
        <td><%= link_to 'Edit', edit_profesional_path(profesional) %></td>
        <td><%= link_to 'Destroy', profesional, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profesional', new_profesional_path %>
