<p id="notice"><%= notice %></p>

<h1>Tolimas</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tolimas.each do |tolima| %>
      <tr>
        <td><%= link_to 'Show', tolima %></td>
        <td><%= link_to 'Edit', edit_tolima_path(tolima) %></td>
        <td><%= link_to 'Destroy', tolima, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tolima', new_tolima_path %>
