<div class="centrado hidden" style="width: 90%; margin-top: 100px;" id="div_p11">
  <h2 style="font-family: 'Heebo', sans-serif; color: #222d5a;">11.- Para usted, ¿cuáles son las 5 características más importantes que debería tener una universidad para que usted la escogiera para hacer esta especialización? ENCUESTADOR NO LEA OPCIONES DE RESPUESTA. (MULTIPLE RESPUESTA)</h2>

  <div class="row">

    <div class="col-md-6">

    <div class="field qts">

      <div class="inputGroup">
        <%= f.radio_button :p11, "1" , id:"radio-1-p11"%>
        <%= f.label :p11, "Reconocimiento y prestigio", for: "radio-1-p11"%>
      </div>

      <div class="inputGroup">
        <%= f.radio_button :p11, "2" , id:"radio-2-p11"%>
        <%= f.label :p11, "Calidad académica del programa", for: "radio-2-p11"%>
      </div>

      <div class="inputGroup">
        <%= f.radio_button :p11, "3" , id:"radio-3-p11"%>
        <%= f.label :p11, "Calidad de la planta de docentes", for: "radio-3-p11"%>
      </div>

      <div class="inputGroup">
        <%= f.radio_button :p11, "4" , id:"radio-4-p11"%>
        <%= f.label :p11, "Facilidades de financiamiento ", for: "radio-4-p11"%>
      </div>

      <div class="inputGroup">
        <%= f.radio_button :p11, "5" , id:"radio-5-p11"%>
        <%= f.label :p11, "Egresados destacados de la universidad", for: "radio-5-p11"%>
      </div>

      <div class="inputGroup">
        <%= f.radio_button :p11, "6" , id:"radio-6-p11"%>
        <%= f.label :p11, "Convenios con el exterior", for: "radio-6-p11"%>
      </div>

    </div>
  </div>

  <div class="col-md-6">

    <div class="field qts">

    <div class="inputGroup">
      <%= f.radio_button :p11, "7" , id:"radio-7-p11"%>
      <%= f.label :p11, "Los costos de la especialización", for: "radio-7-p11"%>
    </div>   

    <div class="inputGroup">
      <%= f.radio_button :p11, "8" , id:"radio-8-p11"%>
      <%= f.label :p11, "Infraestructura de la universidad", for: "radio-8-p11"%>
    </div>

    <div class="inputGroup">
      <%= f.radio_button :p11, "9" , id:"radio-9-p11"%>
      <%= f.label :p11, "Recomendación de familia/amigos/terceros", for: "radio-9-p11"%>
    </div> 

    <div class="inputGroup">
      <%= f.radio_button :p11, "10" , id:"radio-10-p11"%>
      <%= f.label :p11, "Empleabilidad de los egresados", for: "radio-10-p11"%>
    </div> 

    <div class="inputGroup">
      <%= f.radio_button :p11, "11" , id:"radio-11-p11"%>
      <%= f.label :p11, "Acreditación de alta calidad de la especialización", for: "radio-11-p11"%>
    </div> 

    <div class="inputGroup">
      <%= f.radio_button :p11, "12" , id:"radio-12-p11"%>
      <%= f.label :p11, "La universidad donde ya hizo estudios (pregrado o post)", for: "radio-12-p11"%>
    </div> 

    <div class="inputGroup">
      <%= f.radio_button :p11, "otro" , id:"radio-13-p11"%>
      <%= f.label :p11, "OTROS. ¿CUÁLES?", for: "radio-13-p11"%>
    </div> 

  </div>
</div>
</div>

  <div class="invalid-feedback hidden" style="color: #222d5a;" id="div_error_p11"><strong>Por favor, selecciona una opción</strong></div>
  <button type="button" class="boton3 hidden" id="but_res_p11">
    <i class="fas fa-check-circle"></i>
    OK
  </button>
  <p  class="hidden" style="color: #222d5a;" id="p_p11">presiona <strong>ENTER</strong></p>
</div>  
<div class="container hidden" id="pregunta_p11_footer">
  <div class="centrado-abajo" style="margin-top: 240px;">
    <div class="row">
      <div class="col-md-8">
        <span style="color: #222d5a">11 de 17 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 64%; background-color: #afcb3a;"></div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_p10_p11_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #942f88; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_p12_p11_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #942f88; margin: 10px;"></i>
          </a>          
        </div>
      </div>  
    </div>
  </div> 
</div>

<div class="centrado hidden" style="width: 90%" id="div_p11a">
  <h2 style="font-family: 'Heebo', sans-serif; color: #222d5a;">¿Cuales? </h2>
  <br>
  <div class="field qts">

    <%= f.text_field :p11a, {class: "", autocomplete: "off" , style: "background-color: transparent;height: 50px;border-left: 0px;border-right: 0px;border-top: 0px; display: block;width: 100%;font-family: inherit; color: gray;-webkit-appearance: none;transform: translateZ(0px);font-size: 18px;line-height: 38px;-webkit-font-smoothing: antialiased;border-width: initial;border-color: #222d5a;border-image: initial;outline: none;box-shadow: none;background: none;", id:"res_p11a", placeholder: "¿Cuales características?"}%> 

  </div>
  <div class="invalid-feedback hidden" style="color: #222d5a;" id="div_error_p11a"><strong>Por favor, escribe sin signos</strong></div>
  <button type="button" class="boton3 hidden" id="but_res_p11a">
    <i class="fas fa-check-circle"></i>
    OK
  </button>
  <p  class="hidden" style="color: #222d5a;" id="p_p11a">presiona <strong>ENTER</strong></p>
</div>  
<div class="container hidden" id="pregunta_p11a_footer">
  <div class="centrado-abajo">
    <div class="row">
      <div class="col-md-8">
        <span style="color: #222d5a">11 de 17 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 64%; background-color: #afcb3a;"></div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_p11_p11a_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #942f88; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_p12_p11a_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #942f88; margin: 10px;"></i>
          </a>          
        </div>
      </div>  
    </div>
  </div> 
</div>

<div class="centrado hidden" style="width: 90%" id="div_p12">
  <h2 style="font-family: 'Heebo', sans-serif; color: #222d5a;">12.- ¿Conoce alguna institución educativa que ofrezca esta especialización en Evaluación y desarrollo de Proyectos, acá en Yopal?</h2>
  <br>
  <div class="field qts">

    <div class="inputGroup">
      <%= f.radio_button :p12, "si" , id:"radio-1-p12"%>
      <%= f.label :p12, "Si", for: "radio-1-p12"%>
    </div>

    <div class="inputGroup">
      <%= f.radio_button :p12, "no" , id:"radio-2-p12"%>
      <%= f.label :p12, "No", for: "radio-2-p12"%>
    </div>

  </div>
  <div class="invalid-feedback hidden" style="color: #222d5a;" id="div_error_p12"><strong>Por favor, selecciona una opción</strong></div>
  <button type="button" class="boton3 hidden" id="but_res_p12">
    <i class="fas fa-check-circle"></i>
    OK
  </button>
  <p  class="hidden" style="color: #222d5a;" id="p_p12">presiona <strong>ENTER</strong></p>
</div>  
<div class="container hidden" id="pregunta_p12_footer">
  <div class="centrado-abajo">
    <div class="row">
      <div class="col-md-8">
        <span style="color: #222d5a">12 de 17 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 70%; background-color: #afcb3a;"></div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_p11_p12_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #942f88; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_p13_p12_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #942f88; margin: 10px;"></i>
          </a>          
        </div>
      </div>  
    </div>
  </div> 
</div>

<div class="centrado hidden" style="width: 90%" id="div_p12b">
  <h2 style="font-family: 'Heebo', sans-serif; color: #222d5a;">Si la conoce, por favor, díganos ¿cuál?</h2>
  <br>
  <div class="field qts">

    <%= f.text_field :p12b, {class: "", autocomplete: "off" , style: "background-color: transparent;height: 50px;border-left: 0px;border-right: 0px;border-top: 0px; display: block;width: 100%;font-family: inherit; color: gray;-webkit-appearance: none;transform: translateZ(0px);font-size: 18px;line-height: 38px;-webkit-font-smoothing: antialiased;border-width: initial;border-color: #222d5a;border-image: initial;outline: none;box-shadow: none;background: none;", id:"res_p12b", placeholder: "¿Cuál?"}%>    

  </div>
  <div class="invalid-feedback hidden" style="color: #222d5a;" id="div_error_p12b"><strong>Por favor, digite</strong></div>
  <button type="button" class="boton3 hidden" id="but_res_p12b">
    <i class="fas fa-check-circle"></i>
    OK
  </button>
  <p  class="hidden" style="color: #222d5a;" id="p_p12b">presiona <strong>ENTER</strong></p>
</div>  
<div class="container hidden" id="pregunta_p12b_footer">
  <div class="centrado-abajo">
    <div class="row">
      <div class="col-md-8">
        <span style="color: #222d5a">12 de 17 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 70%; background-color: #afcb3a;"></div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_p12_p12b_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #942f88; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_p13_p12b_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #942f88; margin: 10px;"></i>
          </a>          
        </div>
      </div>  
    </div>
  </div> 
</div>

<div class="centrado hidden" style="width: 90%;" id="div_p13">
  <h2 style="font-family: 'Heebo', sans-serif; color: #222d5a;">13.- ¿En cuáles otros temas estaría interesado en realizar una especialización?</h2>
  <br>
  <div class="field qts">

    <%= f.text_field :p13, {class: "", autocomplete: "off" , style: "background-color: transparent;height: 50px;border-left: 0px;border-right: 0px;border-top: 0px; display: block;width: 100%;font-family: inherit; color: gray;-webkit-appearance: none;transform: translateZ(0px);font-size: 18px;line-height: 38px;-webkit-font-smoothing: antialiased;border-width: initial;border-color: #222d5a;border-image: initial;outline: none;box-shadow: none;background: none;", id:"res_p13", placeholder: "Escriba aquí"}%>    

  </div>
  <div class="invalid-feedback hidden" style="color: #222d5a;" id="div_error_p13"><strong>Por favor, digite</strong></div>
  <button type="button" class="boton3 hidden" id="but_res_p13">
    <i class="fas fa-check-circle"></i>
    OK
  </button>
  <p  class="hidden" style="color: #222d5a;" id="p_p13">presiona <strong>ENTER</strong></p>
</div>  
<div class="container hidden" id="pregunta_p13_footer">
  <div class="centrado-abajo">
    <div class="row">
      <div class="col-md-8">
        <span style="color: #222d5a">13 de 17 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 76%; background-color: #afcb3a;"></div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_p12_p13_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #942f88; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_p14_p13_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #942f88; margin: 10px;"></i>
          </a>          
        </div>
      </div>  
    </div>
  </div> 
</div>

<div class="centrado hidden" style="width: 90%" id="div_p14">
  <h2 style="font-family: 'Heebo', sans-serif; color: #222d5a;">14. Qué aspectos lo llevarían a no realizar la especialización? (MULTIPLE RESPUESTA) </h2>
  <br>
  <div class="field qts">

    <div class="inputGroup">
      <%= f.radio_button :p14, "1" , id:"radio-1-p14"%>
      <%= f.label :p14, "Falta de tiempo", for: "radio-1-p14"%>
    </div>

    <div class="inputGroup">
      <%= f.radio_button :p14, "2" , id:"radio-2-p14"%>
      <%= f.label :p14, "Altos costos", for: "radio-2-p14"%>
    </div>

    <div class="inputGroup">
      <%= f.radio_button :p14, "3" , id:"radio-3-p14"%>
      <%= f.label :p14, "Prestigio de la universidad", for: "radio-3-p14"%>
    </div>

    <div class="inputGroup">
      <%= f.radio_button :p14, "4" , id:"radio-4-p14"%>
      <%= f.label :p14, "Pensum poco atractivo", for: "radio-4-p14"%>
    </div>

    <div class="inputGroup">
      <%= f.radio_button :p14, "otro" , id:"radio-5-p14"%>
      <%= f.label :p14, "Otros. ¿Cuál?", for: "radio-5-p14"%>
    </div>

  </div>
  <div class="invalid-feedback hidden" style="color: #222d5a;" id="div_error_p14"><strong>Por favor, selecciona una opción</strong></div>
  <button type="button" class="boton3 hidden" id="but_res_p14">
    <i class="fas fa-check-circle"></i>
    OK
  </button>
  <p  class="hidden" style="color: #222d5a;" id="p_p14">presiona <strong>ENTER</strong></p>
</div>  
<div class="container hidden" id="pregunta_p14_footer">
  <div class="centrado-abajo">
    <div class="row">
      <div class="col-md-8">
        <span style="color: #222d5a">14 de 17 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 82%; background-color: #afcb3a;"></div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_p13_p14_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #942f88; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_p15_p14_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #942f88; margin: 10px;"></i>
          </a>          
        </div>
      </div>  
    </div>
  </div> 
</div>

<div class="centrado hidden" style="width: 90%" id="div_p14a">
  <h2 style="font-family: 'Heebo', sans-serif; color: #222d5a;">Qué otros aspectos</h2>
  <br>
  <div class="field qts">

    <%= f.text_field :p14a, {class: "", autocomplete: "off" , style: "background-color: transparent;height: 50px;border-left: 0px;border-right: 0px;border-top: 0px; display: block;width: 100%;font-family: inherit; color: gray;-webkit-appearance: none;transform: translateZ(0px);font-size: 18px;line-height: 38px;-webkit-font-smoothing: antialiased;border-width: initial;border-color: #222d5a;border-image: initial;outline: none;box-shadow: none;background: none;", id:"res_p14a", placeholder: "¿Cuáles?"}%>    

  </div>
  <div class="invalid-feedback hidden" style="color: #222d5a;" id="div_error_p14a"><strong>Por favor, digite</strong></div>
  <button type="button" class="boton3 hidden" id="but_res_p14a">
    <i class="fas fa-check-circle"></i>
    OK
  </button>
  <p  class="hidden" style="color: #222d5a;" id="p_p14a">presiona <strong>ENTER</strong></p>
</div>  
<div class="container hidden" id="pregunta_p14a_footer">
  <div class="centrado-abajo">
    <div class="row">
      <div class="col-md-8">
        <span style="color: #222d5a">14 de 17 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 82%; background-color: #afcb3a;"></div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_p14_p14a_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #942f88; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_p15_p14a_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #942f88; margin: 10px;"></i>
          </a>          
        </div>
      </div>  
    </div>
  </div> 
</div>

<div class="centrado hidden" style="width: 90%;" id="div_p15">
  <h2 style="font-family: 'Heebo', sans-serif; color: #222d5a;">15.- En qué lapso de tiempo estaría usted dispuesto en hacer la especialización? </h2>
  <br>
  <div class="field qts">

    <div class="inputGroup">
      <%= f.radio_button :p15, "1" , id:"radio-1-p15"%>
      <%= f.label :p15, "Entre 6 meses y año y medio", for: "radio-1-p15"%>
    </div>

    <div class="inputGroup">
      <%= f.radio_button :p15, "2" , id:"radio-2-p15"%>
      <%= f.label :p15, "Entre 2 años y 3 años", for: "radio-2-p15"%>
    </div>

    <div class="inputGroup">
      <%= f.radio_button :p15, "3" , id:"radio-3-p15"%>
      <%= f.label :p15, "Más de 3 años", for: "radio-3-p15"%>
    </div>

  </div>
  <div class="invalid-feedback hidden" style="color: #222d5a;" id="div_error_p15"><strong>Por favor, selecciona una opción</strong></div>
  <button type="button" class="boton3 hidden" id="but_res_p15">
    <i class="fas fa-check-circle"></i>
    OK
  </button>
  <p  class="hidden" style="color: #222d5a;" id="p_p15">presiona <strong>ENTER</strong></p>
</div>  
<div class="container hidden" id="pregunta_p15_footer">
  <div class="centrado-abajo">
    <div class="row">
      <div class="col-md-8">
        <span style="color: #222d5a">15 de 17 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 88%; background-color: #afcb3a;"></div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_p14_p15_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #942f88; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_p16_p15_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #942f88; margin: 10px;"></i>
          </a>          
        </div>
      </div>  
    </div>
  </div> 
</div>

<div class="centrado hidden" style="width: 90%;" id="div_p16">
  <h3 style="font-family: 'Heebo', sans-serif; color: #942f88; text-transform: uppercase; text-align: center;">Para terminar, dos preguntas a nivel económico:</h3>

  <h2 style="font-family: 'Heebo', sans-serif; color: #222d5a;">16.- Cuánto paga semestralmente por su pregrado:</h2>
  <br>
  <div class="field qts">

    <%= f.text_field :p16, {class: "", autocomplete: "off" , style: "background-color: transparent;height: 50px;border-left: 0px;border-right: 0px;border-top: 0px; display: block;width: 100%;font-family: inherit; color: gray;-webkit-appearance: none;transform: translateZ(0px);font-size: 18px;line-height: 38px;-webkit-font-smoothing: antialiased;border-width: initial;border-color: #222d5a;border-image: initial;outline: none;box-shadow: none;background: none;", id:"res_p16", placeholder: "Escriba aquí"}%>

  </div>
  <div class="invalid-feedback hidden" style="color: #222d5a;" id="div_error_p16"><strong>Por favor, selecciona una opción</strong></div>
  <button type="button" class="boton3 hidden" id="but_res_p16">
    <i class="fas fa-check-circle"></i>
    OK
  </button>
  <p  class="hidden" style="color: #222d5a;" id="p_p16">presiona <strong>ENTER</strong></p>
</div>  
<div class="container hidden" id="pregunta_p16_footer">
  <div class="centrado-abajo">
    <div class="row">
      <div class="col-md-8">
        <span style="color: #222d5a">16 de 17 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 94%; background-color: #afcb3a;"></div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_p15_p16_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #942f88; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_p17_p16_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #942f88; margin: 10px;"></i>
          </a>          
        </div>
      </div>  
    </div>
  </div> 
</div>

<div class="centrado hidden" style="width: 90%;" id="div_p17">
  <h2 style="font-family: 'Heebo', sans-serif; color: #222d5a;">17.- En promedio, cuántos son sus ingresos mensuales:</h2>
  <br>
  <div class="field qts">

    <%= f.text_field :p17, {class: "", autocomplete: "off" , style: "background-color: transparent;height: 50px;border-left: 0px;border-right: 0px;border-top: 0px; display: block;width: 100%;font-family: inherit; color: gray;-webkit-appearance: none;transform: translateZ(0px);font-size: 18px;line-height: 38px;-webkit-font-smoothing: antialiased;border-width: initial;border-color: #222d5a;border-image: initial;outline: none;box-shadow: none;background: none;", id:"res_p17", placeholder: "Escriba aquí"}%>

  </div>
  <div class="invalid-feedback hidden" style="color: #222d5a;" id="div_error_p17"><strong>Por favor, selecciona una opción</strong></div>
  <button type="button" class="boton3 hidden" id="but_res_p17">
    <i class="fas fa-check-circle"></i>
    OK
  </button>
  <p  class="hidden" style="color: #222d5a;" id="p_p17">presiona <strong>ENTER</strong></p>
</div>  
<div class="container hidden" id="pregunta_p17_footer">
  <div class="centrado-abajo">
    <div class="row">
      <div class="col-md-8">
        <span style="color: #222d5a">17 de 17 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 100%; background-color: #afcb3a;"></div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_p16_p17_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #942f88; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_ps_p17_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #942f88; margin: 10px;"></i>
          </a>          
        </div>
      </div>  
    </div>
  </div> 
</div>

<div class="centrado hidden" style="width: 90%; text-align: center; position: absolute;" id="div_pregunta_s">
  <h1 style="font-family: 'Heebo', sans-serif; color: #222d5a;">Para efectos de supervisión, ¿me podría dar los siguientes datos, por favor?</h1>
  <br>
  <br>
  <button type="button" class="boton3" style="" id="but_res_pregunta_s">
    <i class="fas fa-check-circle"; id="but_pregunta_s"></i>
    Siguiente!
  </button>
</div>

<div class="centrado hidden" style="width: 90%;" id="div_pst">
  <br>
  <div class="field qts">
    <h4 style="font-family: 'Heebo', sans-serif; color: #222d5a;">Barrio donde vive:</h4>
    <%= f.text_field :ps1, {class: "", autocomplete: "off" , style: "background-color: transparent;height: 50px;border-left: 0px;border-right: 0px;border-top: 0px; display: block;width: 100%;font-family: inherit; color: gray;-webkit-appearance: none;transform: translateZ(0px);font-size: 18px;line-height: 38px;-webkit-font-smoothing: antialiased;border-width: initial;border-color: #222d5a;border-image: initial;outline: none;box-shadow: none;background: none;", id:"res_ps1", placeholder: "Barrio"}%>
    <br>
    <h4 style="font-family: 'Heebo', sans-serif; color: #222d5a;">Dirección de residencia:</h4>
    <%= f.text_field :ps2, {class: "", autocomplete: "off" , style: "background-color: transparent;height: 50px;border-left: 0px;border-right: 0px;border-top: 0px; display: block;width: 100%;font-family: inherit; color: gray;-webkit-appearance: none;transform: translateZ(0px);font-size: 18px;line-height: 38px;-webkit-font-smoothing: antialiased;border-width: initial;border-color: #222d5a;border-image: initial;outline: none;box-shadow: none;background: none;", id:"res_ps2", placeholder: "Dirección"}%>
    <br>
    <h4 style="font-family: 'Heebo', sans-serif; color: #222d5a;">Teléfono fijo o celular:</h4>
    <%= f.text_field :ps3, {class: "", autocomplete: "off" , style: "background-color: transparent;height: 50px;border-left: 0px;border-right: 0px;border-top: 0px; display: block;width: 100%;font-family: inherit; color: gray;-webkit-appearance: none;transform: translateZ(0px);font-size: 18px;line-height: 38px;-webkit-font-smoothing: antialiased;border-width: initial;border-color: #222d5a;border-image: initial;outline: none;box-shadow: none;background: none;", id:"res_ps2", placeholder: "Télefono fijo o celular"}%>

  </div>
  <div class="invalid-feedback hidden" style="color: #222d5a;" id="div_error_pst"><strong>Por favor, diligencie todos los campos</strong></div>
  <button type="button" class="boton3 hidden" id="but_res_pst">
    <i class="fas fa-check-circle"></i>
    OK
  </button>
  <p  class="hidden" style="color: #222d5a;" id="p_pst">presiona <strong>ENTER</strong></p>
</div>  
<div class="container hidden" id="pregunta_pst_footer">
  <div class="centrado-abajo">
    <div class="row">
      <div class="col-md-8">
        <span style="color: #222d5a">17 de 17 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 100%; background-color: #afcb3a;"></div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_ps_pst_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #942f88; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_pd_pst_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #942f88; margin: 10px;"></i>
          </a>          
        </div>
      </div>  
    </div>
  </div> 
</div>

<div class="centrado hidden" style="width: 90%; text-align: center; position: absolute;" id="div_pregunta_s">
  <h1 style="font-family: 'Heebo', sans-serif; color: #222d5a;">Para efectos de supervisión, ¿me podría dar los siguientes datos, por favor?</h1>
  <br>
  <br>
  <button type="button" class="boton3" style="" id="but_res_pregunta_s">
    <i class="fas fa-check-circle"; id="but_pregunta_s"></i>
    Siguiente!
  </button>
</div>

<div class="centrado hidden" style="width: 90%;" id="div_pd">
  <h2 style="font-family: 'Heebo', sans-serif; color: #222d5a;">Para guardar la encuesta</h2>
  <br>
  <div class="field qts">
    <h4 style="font-family: 'Heebo', sans-serif; color: #222d5a;">Nombre del encuestador</h4>
    <%= f.text_field :ps1, {class: "", autocomplete: "off" , style: "background-color: transparent;height: 50px;border-left: 0px;border-right: 0px;border-top: 0px; display: block;width: 100%;font-family: inherit; color: gray;-webkit-appearance: none;transform: translateZ(0px);font-size: 18px;line-height: 38px;-webkit-font-smoothing: antialiased;border-width: initial;border-color: #222d5a;border-image: initial;outline: none;box-shadow: none;background: none;", id:"res_pd", placeholder: "Nombre del encuestador"}%>
  </div>
  <div class="invalid-feedback hidden" style="color: #222d5a;" id="div_error_pd"><strong>Por favor, diligencie los campos</strong></div>
  <button type="button" class="boton3 hidden" id="but_res_pd">
    <i class="fas fa-check-circle"></i>
    OK
  </button>
  <p  class="hidden" style="color: #222d5a;" id="p_pd">presiona <strong>ENTER</strong></p>
</div>  
<div class="container hidden" id="pregunta_pd_footer">
  <div class="centrado-abajo">
    <div class="row">
      <div class="col-md-8">
        <span style="color: #222d5a;">17 de 17 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 100%; background-color: #afcb3a;"></div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_pst_pd_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #942f88; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_pg_pd_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #942f88; margin: 10px;"></i>
          </a>          
        </div>
      </div>  
    </div>
  </div> 
</div>

<div class="centrado hidden" style="width: 90%; text-align: center;" id="div_pregunta_pg">
  <h2 style="font-family: 'Heebo', sans-serif; color: #222d5a;">Terminaste!</h2>
    <i class="fas fa-check-circle" id="but_pregunta_pg"></i>
    <%= f.submit "Guardar", :class => 'boton3'%>
</div>  
<div class="container hidden" id="pregunta_pg_footer">
  <div class="centrado-abajo">
    <div class="row">
      <div class="col-md-8">
        <span style="color: #222d5a;">17 de 17 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 100%; background-color: #942f88;"></div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_20_21_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #942f88; margin: 10px;"></i>
          </a>
        </div>
      </div>  
    </div>
  </div> 
</div>