<p id="notice"><%= notice %></p>

<p>
  <strong>P m:</strong>
  <%= @form483.p_m %>
</p>

<p>
  <strong>F 1:</strong>
  <%= @form483.f_1 %>
</p>

<p>
  <strong>F 2 a:</strong>
  <%= @form483.f_2_a %>
</p>

<p>
  <strong>F 2 b:</strong>
  <%= @form483.f_2_b %>
</p>

<p>
  <strong>F 2 c:</strong>
  <%= @form483.f_2_c %>
</p>

<p>
  <strong>P 1 1:</strong>
  <%= @form483.p_1_1 %>
</p>

<p>
  <strong>P 1 2:</strong>
  <%= @form483.p_1_2 %>
</p>

<p>
  <strong>P 1 3 a:</strong>
  <%= @form483.p_1_3_a %>
</p>

<p>
  <strong>P 1 3 b:</strong>
  <%= @form483.p_1_3_b %>
</p>

<p>
  <strong>P 1 3 c:</strong>
  <%= @form483.p_1_3_c %>
</p>

<p>
  <strong>P 1 3 d:</strong>
  <%= @form483.p_1_3_d %>
</p>

<p>
  <strong>P 1 3 e:</strong>
  <%= @form483.p_1_3_e %>
</p>

<p>
  <strong>P 1 3 f:</strong>
  <%= @form483.p_1_3_f %>
</p>

<p>
  <strong>P 2 1:</strong>
  <%= @form483.p_2_1 %>
</p>

<p>
  <strong>P 2 2:</strong>
  <%= @form483.p_2_2 %>
</p>

<p>
  <strong>P 2 3 a:</strong>
  <%= @form483.p_2_3_a %>
</p>

<p>
  <strong>P 2 3 b:</strong>
  <%= @form483.p_2_3_b %>
</p>

<p>
  <strong>P 2 4 a:</strong>
  <%= @form483.p_2_4_a %>
</p>

<p>
  <strong>P 2 4 b:</strong>
  <%= @form483.p_2_4_b %>
</p>

<p>
  <strong>P 2 5 a:</strong>
  <%= @form483.p_2_5_a %>
</p>

<p>
  <strong>P 2 5 b:</strong>
  <%= @form483.p_2_5_b %>
</p>

<p>
  <strong>P 3 1:</strong>
  <%= @form483.p_3_1 %>
</p>

<p>
  <strong>P 3 2:</strong>
  <%= @form483.p_3_2 %>
</p>

<p>
  <strong>P 4 1:</strong>
  <%= @form483.p_4_1 %>
</p>

<p>
  <strong>P 4 2:</strong>
  <%= @form483.p_4_2 %>
</p>

<p>
  <strong>P 4 3:</strong>
  <%= @form483.p_4_3 %>
</p>

<p>
  <strong>P 4 4:</strong>
  <%= @form483.p_4_4 %>
</p>

<p>
  <strong>P 5 1 t1:</strong>
  <%= @form483.p_5_1_t1 %>
</p>

<p>
  <strong>P 5 1 t2:</strong>
  <%= @form483.p_5_1_t2 %>
</p>

<p>
  <strong>P 5 1 t3:</strong>
  <%= @form483.p_5_1_t3 %>
</p>

<p>
  <strong>P 5 1 t4:</strong>
  <%= @form483.p_5_1_t4 %>
</p>

<p>
  <strong>P 5 1 t5:</strong>
  <%= @form483.p_5_1_t5 %>
</p>

<p>
  <strong>P 5 1 t6:</strong>
  <%= @form483.p_5_1_t6 %>
</p>

<p>
  <strong>P 5 1 t7:</strong>
  <%= @form483.p_5_1_t7 %>
</p>

<p>
  <strong>P 5 1 t8:</strong>
  <%= @form483.p_5_1_t8 %>
</p>

<p>
  <strong>P 5 1 t9:</strong>
  <%= @form483.p_5_1_t9 %>
</p>

<p>
  <strong>P 5 1 t10:</strong>
  <%= @form483.p_5_1_t10 %>
</p>

<p>
  <strong>P 5 1 t11:</strong>
  <%= @form483.p_5_1_t11 %>
</p>

<p>
  <strong>P 5 1 t12:</strong>
  <%= @form483.p_5_1_t12 %>
</p>

<p>
  <strong>P 5 1 t13:</strong>
  <%= @form483.p_5_1_t13 %>
</p>

<p>
  <strong>P 5 1 t14:</strong>
  <%= @form483.p_5_1_t14 %>
</p>

<p>
  <strong>P 5 1 t15:</strong>
  <%= @form483.p_5_1_t15 %>
</p>

<p>
  <strong>P 5 1 t16:</strong>
  <%= @form483.p_5_1_t16 %>
</p>

<p>
  <strong>P 5 1 t17:</strong>
  <%= @form483.p_5_1_t17 %>
</p>

<p>
  <strong>P 5 1 t18:</strong>
  <%= @form483.p_5_1_t18 %>
</p>

<p>
  <strong>P 5 1 t19:</strong>
  <%= @form483.p_5_1_t19 %>
</p>

<p>
  <strong>P 5 1 a1:</strong>
  <%= @form483.p_5_1_a1 %>
</p>

<p>
  <strong>P 5 1 a2:</strong>
  <%= @form483.p_5_1_a2 %>
</p>

<p>
  <strong>P 5 1 a3:</strong>
  <%= @form483.p_5_1_a3 %>
</p>

<p>
  <strong>P 5 1 a4:</strong>
  <%= @form483.p_5_1_a4 %>
</p>

<p>
  <strong>P 5 1 a5:</strong>
  <%= @form483.p_5_1_a5 %>
</p>

<p>
  <strong>P 5 1 a6:</strong>
  <%= @form483.p_5_1_a6 %>
</p>

<p>
  <strong>P 5 1 a7:</strong>
  <%= @form483.p_5_1_a7 %>
</p>

<p>
  <strong>P 5 1 a8:</strong>
  <%= @form483.p_5_1_a8 %>
</p>

<p>
  <strong>P 5 1 a9:</strong>
  <%= @form483.p_5_1_a9 %>
</p>

<p>
  <strong>P 5 1 a10:</strong>
  <%= @form483.p_5_1_a10 %>
</p>

<p>
  <strong>P 5 1 a11:</strong>
  <%= @form483.p_5_1_a11 %>
</p>

<p>
  <strong>P 5 1 a12:</strong>
  <%= @form483.p_5_1_a12 %>
</p>

<p>
  <strong>P 5 1 a13:</strong>
  <%= @form483.p_5_1_a13 %>
</p>

<p>
  <strong>P 5 1 a14:</strong>
  <%= @form483.p_5_1_a14 %>
</p>

<p>
  <strong>P 5 1 g1:</strong>
  <%= @form483.p_5_1_g1 %>
</p>

<p>
  <strong>P 5 1 g2:</strong>
  <%= @form483.p_5_1_g2 %>
</p>

<p>
  <strong>P 5 1 g3:</strong>
  <%= @form483.p_5_1_g3 %>
</p>

<p>
  <strong>P 5 1 g4:</strong>
  <%= @form483.p_5_1_g4 %>
</p>

<p>
  <strong>P 5 1 g5:</strong>
  <%= @form483.p_5_1_g5 %>
</p>

<p>
  <strong>P 5 1 g6:</strong>
  <%= @form483.p_5_1_g6 %>
</p>

<p>
  <strong>P 5 1 g7:</strong>
  <%= @form483.p_5_1_g7 %>
</p>

<p>
  <strong>P 5 1 g8:</strong>
  <%= @form483.p_5_1_g8 %>
</p>

<p>
  <strong>P 5 1 g9:</strong>
  <%= @form483.p_5_1_g9 %>
</p>

<p>
  <strong>P 5 1 g10:</strong>
  <%= @form483.p_5_1_g10 %>
</p>

<p>
  <strong>P 5 1 pg1:</strong>
  <%= @form483.p_5_1_pg1 %>
</p>

<p>
  <strong>P 5 1 pg2:</strong>
  <%= @form483.p_5_1_pg2 %>
</p>

<p>
  <strong>P 5 1 pg3:</strong>
  <%= @form483.p_5_1_pg3 %>
</p>

<p>
  <strong>P 5 1 pg4:</strong>
  <%= @form483.p_5_1_pg4 %>
</p>

<p>
  <strong>P 5 1 pg5:</strong>
  <%= @form483.p_5_1_pg5 %>
</p>

<p>
  <strong>P 5 1 pg6:</strong>
  <%= @form483.p_5_1_pg6 %>
</p>

<p>
  <strong>P 5 1 pl1:</strong>
  <%= @form483.p_5_1_pl1 %>
</p>

<p>
  <strong>P 5 1 pl2:</strong>
  <%= @form483.p_5_1_pl2 %>
</p>

<p>
  <strong>P 5 1 pl3:</strong>
  <%= @form483.p_5_1_pl3 %>
</p>

<p>
  <strong>P 5 1 pl4:</strong>
  <%= @form483.p_5_1_pl4 %>
</p>

<p>
  <strong>P 5 1 pl5:</strong>
  <%= @form483.p_5_1_pl5 %>
</p>

<p>
  <strong>P 5 1 pl6:</strong>
  <%= @form483.p_5_1_pl6 %>
</p>

<p>
  <strong>P 5 1 pl7:</strong>
  <%= @form483.p_5_1_pl7 %>
</p>

<p>
  <strong>P 5 1 pl8:</strong>
  <%= @form483.p_5_1_pl8 %>
</p>

<p>
  <strong>P 5 1 pl9:</strong>
  <%= @form483.p_5_1_pl9 %>
</p>

<p>
  <strong>P 5 1 pl10:</strong>
  <%= @form483.p_5_1_pl10 %>
</p>

<p>
  <strong>P 5 1 pl11:</strong>
  <%= @form483.p_5_1_pl11 %>
</p>

<p>
  <strong>P 5 1 pl12:</strong>
  <%= @form483.p_5_1_pl12 %>
</p>

<p>
  <strong>P 5 1 sm1:</strong>
  <%= @form483.p_5_1_sm1 %>
</p>

<p>
  <strong>P 5 1 sm2:</strong>
  <%= @form483.p_5_1_sm2 %>
</p>

<p>
  <strong>P 5 1 sm3:</strong>
  <%= @form483.p_5_1_sm3 %>
</p>

<p>
  <strong>P 5 1 sm4:</strong>
  <%= @form483.p_5_1_sm4 %>
</p>

<p>
  <strong>P 5 1 sm5:</strong>
  <%= @form483.p_5_1_sm5 %>
</p>

<p>
  <strong>P 5 1 sm6:</strong>
  <%= @form483.p_5_1_sm6 %>
</p>

<p>
  <strong>P 5 1 sm7:</strong>
  <%= @form483.p_5_1_sm7 %>
</p>

<p>
  <strong>P 5 1 sm8:</strong>
  <%= @form483.p_5_1_sm8 %>
</p>

<p>
  <strong>P 5 1 sm9:</strong>
  <%= @form483.p_5_1_sm9 %>
</p>

<p>
  <strong>P 5 1 sm10:</strong>
  <%= @form483.p_5_1_sm10 %>
</p>

<p>
  <strong>P 5 1 v1:</strong>
  <%= @form483.p_5_1_v1 %>
</p>

<p>
  <strong>P 5 1 v2:</strong>
  <%= @form483.p_5_1_v2 %>
</p>

<p>
  <strong>P 5 1 v3:</strong>
  <%= @form483.p_5_1_v3 %>
</p>

<p>
  <strong>P 5 1 v4:</strong>
  <%= @form483.p_5_1_v4 %>
</p>

<p>
  <strong>P 5 1 v5:</strong>
  <%= @form483.p_5_1_v5 %>
</p>

<p>
  <strong>P 5 1 v6:</strong>
  <%= @form483.p_5_1_v6 %>
</p>

<p>
  <strong>P 5 1 v7:</strong>
  <%= @form483.p_5_1_v7 %>
</p>

<p>
  <strong>P 5 1 v8:</strong>
  <%= @form483.p_5_1_v8 %>
</p>

<p>
  <strong>P 5 1 v9:</strong>
  <%= @form483.p_5_1_v9 %>
</p>

<p>
  <strong>P 5 1 v10:</strong>
  <%= @form483.p_5_1_v10 %>
</p>

<p>
  <strong>P 5 1 v11:</strong>
  <%= @form483.p_5_1_v11 %>
</p>

<p>
  <strong>P 5 1 v12:</strong>
  <%= @form483.p_5_1_v12 %>
</p>

<%= link_to 'Edit', edit_form483_path(@form483) %> |
<%= link_to 'Back', form483s_path %>
